.center-title{
    text-align: center;
    margin: 30px;
    justify-content: center;
  
}
.center-card{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.discover{
    font-size:2.2rem;
    margin-bottom: 20px;
}
.example-card {
    max-width:500px;
    
  }

.links{
    color:white;
}