
<div class="center-title"> 
    <h1 class="discover">Discover an Bill Evans Album</h1>
</div>

<div *ngIf="result" class="center-card" > 
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{ result.title }}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src={{result.cover_image}} alt="{{result.title}}">
        <mat-card-content>
            <a 
                href="https://www.youtube.com/results?search_query={{result.title}}" 
                target="__blank"
                class="links"
            >
            Search album in Youtube
            </a>
            <br>
            <a 
                href="https://open.spotify.com/search/{{result.title}}"
                target="__blank"
                class="links"
            >
            Search album in Spotify
            </a>
        </mat-card-content>
        <mat-card-actions>
          <app-buttons [title]="result.title"></app-buttons>
        </mat-card-actions>
    </mat-card>
</div>