/* button{
    width: 150px;
} */

.spinner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont {
  
    max-width: 350px;
    text-align: center;
    margin: 0 auto;
    padding: 0 auto;
    overflow: hidden;
    background-color: #303030;
    border-radius: 5px;
}
  
div.stars {
    width: 270px;
    display: inline-block;
}
