<!-- Buttons  -->
<div 
    [class]="displayFadeOut()"
    *ngIf="Buttons"
    class="cont"
>
    <!-- <button mat-raised-button (click)="UserRating(1)" color="primary">I like it</button>
    <button mat-stroked-button (click)="UserRating(-1)" color="warn">I don't like it</button> -->
   
    <div class="stars">
    <ngx-star-rating [(ngModel)]="rating" [id]="'rating'" [disabled]="false"></ngx-star-rating >
    </div>
    
    <button mat-raised-button (click)="UserRating()" color="primary">Confirm Rating</button>

</div>


<!-- Spinner -->
<div class="spinner" *ngIf="Loading">
<mat-spinner [diameter]="60"></mat-spinner>
</div>


<!-- Success/Error Message -->
<div 
    [class]="displayFadeIn()"
    *ngIf="addMessage"
>
    <h4 *ngIf="message">{{message}}</h4>
    <h4 *ngIf="messageError">{{messageError}}</h4>
    <button mat-raised-button onClick="window.location.reload();" color="primary">Next Album</button>
</div>
