/* Structure */
table {
    width: 100%;
    }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
.container{
  padding: 2rem 6rem;
}

div.stars {
  width: 270px;
  display: inline-block;
}


